body,div,ul{
    margin: 0;
    padding: 0;
}
.nav li,.Banner li{
    display: inline;
}
.header{
    background-color: black;
    height: 80px;
    margin: 0px;
    padding: 0px;
}
.header span{
    color: white;
    font-size: 50px;
    position: relative;
    top: 10px;
    left: 50px;;
}
.header ul{
    float: right;
    margin-right: 160px;
}
.header a{
    color: white;
    margin-left: 5px;
}
.Banner{
    background-color: greenyellow;
    height: 150px;
}
.Banner li{
    background-color: azure;
    border: 1px solid gray;
    font-size: 20px;
    position: relative;
    top: 115px;
    left: 950px;
    padding: 5px 5px 5px 5px;
}
.Banner .active{
    padding: 15px 5px 5px 5px;
}
.Banner a{
    text-decoration: none;
    color: black;
}
.content a{
    text-decoration: none;
}
.content {
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }
  .content ul{
      padding-left: 0;
      margin-top: 0;
  }
  .content li{
      float: left;
      list-style-type: none;
      width: 150px;
      border-bottom: 1px solid gainsboro;
      border: 1px solid gray;
  }
  .content li a{
      display: inline-block;
      text-decoration: none;
      width: 100%;
      line-height: 3;
      background-color: gainsboro;
      color: black;
      font-family: '微软雅黑';
      text-align: center;
  }
  .content li a.active{
    background-color: white;
  }
  .content .panels{
      clear: both;
      position: relative;
      height: 352px;
  }

  .content .active-panel{
      z-index: 1;
  }
  .active-panel li{
      border: 1px solid gainsboro;
      width: 150px;
      height: 80px;
      text-align: center;
      padding-top: 50px;
      margin-top: 5px;
  }
  .footer{
      text-align: center;
      background-color: gray;
      height: 120px;
      width: 100%;
      padding-top: 10px;
      color: white;
  }